.symbol img:nth-child(1) {
    animation: slotani 6s linear infinite;
    position: absolute;
    top: -70px;
    left: 50px;
    width: 60px;
    animation-delay: 1s;
}

.symbol img:nth-child(2) {
    animation: slotani_left 3s linear infinite;
    position: absolute;
    top: -70px;
    left: 200px;
    width: 80px;
    animation-delay: 1.5s;
}

.symbol img:nth-child(3) {
    animation: slotani 5.2s linear infinite;
    position: absolute;
    top: -70px;
    left: 350px;
    width: 50px;
    animation-delay: .2s;
}

.symbol img:nth-child(4) {
    animation: slotani_left 5.4s linear infinite;
    position: absolute;
    top: -70px;
    left: 500px;
    width: 40px;
    animation-delay: 1s;
}

.symbol img:nth-child(5) {
    animation: slotani 5s linear infinite;
    position: absolute;
    top: -70px;
    left: 650px;
    width: 20px;
    animation-delay: 4s;
}

.symbol img:nth-child(6) {
    animation: slotani 5.9s linear infinite;
    position: absolute;
    top: -70px;
    left: 800px;
    width: 60px;
    animation-delay: 1.1s;
}

.symbol img:nth-child(7) {
    animation: slotani_left 4.7s linear infinite;
    position: absolute;
    top: -70px;
    left: 950px;
    width: 30px;
    animation-delay: 1.2s;
}

.symbol img:nth-child(8) {
    animation: slotani 5s linear infinite;
    position: absolute;
    top: -70px;
    left: 1100px;
    width: 50px;
    animation-delay: 2s;
}

.symbol img:nth-child(9) {
    animation: slotani_left 5s linear infinite;
    position: absolute;
    top: -70px;
    left: 1250px;
    width: 60px;
    animation-delay: 1.3s;
}

.symbol img:nth-child(10) {
    animation: slotani 3.7s linear infinite;
    position: absolute;
    top: -70px;
    left: 1400px;
    width: 70px;
    animation-delay: 0.8s;
}

.symbol img:nth-child(11) {
    animation: slotani 5.2s linear infinite;
    position: absolute;
    top: -70px;
    left: 1550px;
    width: 45px;
    animation-delay: 1.3s;
}
.symbol{
    z-index: 0;
}
.symbol2 img:nth-child(1) {
    animation: slotani_left 7s linear infinite;
    position: absolute;
    top: -70px;
    left: 80px;
    width: 60px;
    animation-delay: 3s;
}

.symbol2 img:nth-child(2) {
    animation: slotani_left 4s linear infinite;
    position: absolute;
    top: -70px;
    left: 160px;
    width: 80px;
    animation-delay: 2s;
}

.symbol2 img:nth-child(3) {
    animation: slotani 5.2s linear infinite;
    position: absolute;
    top: -70px;
    left: 200px;
    width: 50px;
    animation-delay: 2s;
}

.symbol2 img:nth-child(4) {
    animation: slotani 6s linear infinite;
    position: absolute;
    top: -70px;
    left: 350px;
    width: 50px;
    animation-delay: 1.5s;
}

.symbol2 img:nth-child(5) {
    animation: slotani 4.6s linear infinite;
    position: absolute;
    top: -70px;
    left: 400px;
    width: 20px;
    animation-delay: 1s;
}

.symbol2 img:nth-child(6) {
    animation: slotani_left 4.3s linear infinite;
    position: absolute;
    top: -70px;
    left: 580px;
    width: 60px;
    animation-delay: 1.4s;
}

.symbol2 img:nth-child(7) {
    animation: slotani 5s linear infinite;
    position: absolute;
    top: -70px;
    left: 625px;
    width: 36px;
    animation-delay: 2.4s;
}

.symbol2 img:nth-child(8) {
    animation: slotani_left 5s linear infinite;
    position: absolute;
    top: -70px;
    left: 750px;
    width: 39px;
    animation-delay: 2s;
}

.symbol2 img:nth-child(9) {
    animation: slotani 4s linear infinite;
    position: absolute;
    top: -70px;
    left: 1250px;
    width: 45px;
    animation-delay: 0.5s;
}

.symbol2 img:nth-child(10) {
    animation: slotani 4s linear infinite;
    position: absolute;
    top: -70px;
    left: 1300px;
    width: 80px;
    animation-delay: 1.5s;
}

.symbol2 img:nth-child(11) {
    animation: slotani_left 6s linear infinite;
    position: absolute;
    top: -70px;
    left: 1400px;
    width: 50px;
    animation-delay: 1.8s;
}
.symbol2{
    z-index: 0;
}

@keyframes slotani {
    from {
        transform: translateY(0px) rotate(0deg);


    }

    to {
        transform: translateY(120vh) rotate(90deg) ;
       
        

    }
}
@keyframes slotani_left {
    from {
        transform: translateY(0px) rotate(0deg);


    }

    to {
        transform: translateY(120vh) rotate(-90deg) ;
       
        

    }
}

@keyframes slotani_mobile {
    from {
        transform: translateY(0px) rotate(0deg);


    }

    to {
        transform: translateY(125vh) rotate(90deg);

    }
}
@media screen and (max-width: 900px){
.symbol img:nth-child(1) {
    animation: slotani_mobile 6s linear infinite;
    position: absolute;
    top: -70px;
    left: 50px;
    width: 60px;
    animation-delay: 1s;
}

.symbol img:nth-child(2) {
    animation: slotani_mobile 3s linear infinite;
    position: absolute;
    top: -70px;
    left: 200px;
    width: 80px;
    animation-delay: 1.5s;
}

.symbol img:nth-child(3) {
    animation: slotani_mobile 5.2s linear infinite;
    position: absolute;
    top: -70px;
    left: 350px;
    width: 50px;
    animation-delay: .2s;
}

.symbol img:nth-child(4) {
    animation: slotani_mobile 5.4s linear infinite;
    position: absolute;
    top: -70px;
    left: 500px;
    width: 40px;
    animation-delay: 1s;
}

.symbol img:nth-child(5) {
    animation: slotani_mobile 5s linear infinite;
    position: absolute;
    top: -70px;
    left: 650px;
    width: 20px;
    animation-delay: 4s;
}

.symbol img:nth-child(6) {
    animation: slotani_mobile 5.9s linear infinite;
    position: absolute;
    top: -70px;
    left: 800px;
    width: 60px;
    animation-delay: 1.1s;
}

.symbol img:nth-child(7) {
    animation: slotani_mobile 4.7s linear infinite;
    position: absolute;
    top: -70px;
    left: 950px;
    width: 30px;
    animation-delay: 1.2s;
}

.symbol img:nth-child(8) {
    animation: slotani_mobile 5s linear infinite;
    position: absolute;
    top: -70px;
    left: 1100px;
    width: 50px;
    animation-delay: 2s;
}

.symbol img:nth-child(9) {
    animation: slotani_mobile 5s linear infinite;
    position: absolute;
    top: -70px;
    left: 1250px;
    width: 60px;
    animation-delay: 1.3s;
}

.symbol img:nth-child(10) {
    animation: slotani_mobile 3.7s linear infinite;
    position: absolute;
    top: -70px;
    left: 1400px;
    width: 70px;
    animation-delay: 0.8s;
}

.symbol img:nth-child(11) {
    animation: slotani_mobile 5.2s linear infinite;
    position: absolute;
    top: -70px;
    left: 1550px;
    width: 45px;
    animation-delay: 1.3s;
}
.symbol2 img:nth-child(1) {
    animation: slotani_mobile 7s linear infinite;
    position: absolute;
    top: -70px;
    left: 80px;
    width: 60px;
    animation-delay: 3s;
}

.symbol2 img:nth-child(2) {
    animation: slotani_mobile 4s linear infinite;
    position: absolute;
    top: -70px;
    left: 160px;
    width: 80px;
    animation-delay: 2s;
}

.symbol2 img:nth-child(3) {
    animation: slotani_mobile 5.2s linear infinite;
    position: absolute;
    top: -70px;
    left: 200px;
    width: 50px;
    animation-delay: 2s;
}

.symbol2 img:nth-child(4) {
    animation: slotani_mobile 6s linear infinite;
    position: absolute;
    top: -70px;
    left: 350px;
    width: 50px;
    animation-delay: 1.5s;
}

.symbol2 img:nth-child(5) {
    animation: slotani_mobile 4.6s linear infinite;
    position: absolute;
    top: -70px;
    left: 400px;
    width: 20px;
    animation-delay: 1s;
}

.symbol2 img:nth-child(6) {
    animation: slotani_mobile 4.3s linear infinite;
    position: absolute;
    top: -70px;
    left: 580px;
    width: 60px;
    animation-delay: 1.4s;
}

.symbol2 img:nth-child(7) {
    animation: slotani_mobile 5s linear infinite;
    position: absolute;
    top: -70px;
    left: 625px;
    width: 36px;
    animation-delay: 2.4s;
}

.symbol2 img:nth-child(8) {
    animation: slotani_mobile 5s linear infinite;
    position: absolute;
    top: -70px;
    left: 750px;
    width: 39px;
    animation-delay: 2s;
}

.symbol2 img:nth-child(9) {
    animation: slotani_mobile 4s linear infinite;
    position: absolute;
    top: -70px;
    left: 1250px;
    width: 45px;
    animation-delay: 0.5s;
}

.symbol2 img:nth-child(10) {
    animation: slotani_mobile 4s linear infinite;
    position: absolute;
    top: -70px;
    left: 1300px;
    width: 80px;
    animation-delay: 1.5s;
}

.symbol2 img:nth-child(11) {
    animation: slotani_mobile 6s linear infinite;
    position: absolute;
    top: -70px;
    left: 1400px;
    width: 50px;
    animation-delay: 1.8s;
}
.symbol2{
    z-index: 0;
}
}