@font-face {
    font-family: 'poet';
    src: url('poetsenone-regular-webfont.woff2') format('woff2'),
         url('poetsenone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'every';
    src: url('every_sunday-webfont.woff2') format('woff2'),
         url('every_sunday-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
    padding: 0px;
    margin: 0;
    scroll-behavior: smooth;
    background-color: white;
    font-family: poet; 
    background-color: #70bf5d;
}

.hero{
    background-color: #70bf5d;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.title h1{
    color:  #b04bed;
    font-size: 120px;
    -webkit-text-stroke: 3px black;
    font-weight: bolder;
    font-family: every;
}
.title h3{
    color: black;
    text-align: right;
    font-size: 30px;
    margin-top: -20px;
    
}
.title h3 span{
    color: #b04bed;
}
.main_img img{
    width: 500px;
    
}
.hero2{
 max-width: 100vw;
 display: flex;
 justify-content: center;
 align-items: center;
}
.hero_right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    flex-direction: column;
}
.text{
    display: flex;
    max-width: 80%;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 50px;
    text-align: center;
}
.text span{
    color: #b04bed;
}
.hero_right .buy_btn{
    text-decoration: none;
    border: solid 8px black;
    color: white;
    background-color: #b04bed ;
    padding: 10px 80px;
    font-size: 50px;
    margin-top: 40px;
    transform: rotate(6deg);
    animation: shake .3s infinite ;
}
@keyframes shake{
    0%{
        transform: scale(1);
    }
    50%{
        transform:  scale(1.02);
    }
    10%{
        transform:  scale(1);
    }
}
.social{
    margin-top: 50px;
}
.social ul{
    display: flex;
    list-style-type: none;

}
.social ul li a {
    padding: 10px 15px;
    background-color: black;
    margin: 20px;
    color: #b04bed;
    font-size: 40px;

}
.social ul li:nth-child(1){
    transform: rotate(8deg);
}
.social ul li:nth-child(2){
    transform: rotate(-6deg);
}
.social ul li:nth-child(3){
    transform: rotate(15deg);
}
.announce_bar{
   height: 70px;
   border: solid 7px black;
   background-color: #5a1b81;
   display: flex;
   width: 120vw;
   justify-content: center;
   align-items: center;
   z-index: 3;
   position: relative;

}
.announce_bar P{ margin-right: 50PX;
    font-size: 40px;
    color: white
    ;
    animation: translate 7s infinite linear;
}
@keyframes translate{
    from {
        transform: translateX(0);
      }
      to {
        transform: translateX(-1000%);
      }
}
.tokenomics{
    height: 100vh;
    position: relative;
}
.token_title{
    font-size: 80px;
    font-family: every;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 50px;
    color: #b04bed;
    -webkit-text-stroke: 4px black;
    z-index: 2;
}
.token_title h1{
    z-index: 2;
}
.token2{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 40px;
}
.square{
    width: 60%;
    height: 80%;
    background-color: white;
    font-size: 30px;
    padding: 70px;
    border: solid 10px;
    border-radius: 60% 40% 40% 30%;
    text-align: center;
    z-index: 2;
}
.symbol img:nth-child(1){
    animation: slotani 6s linear infinite;
    position: absolute;
    top: -70px;
    left: 50px;
    width: 60px;
    animation-delay: 1s;
}
.symbol img:nth-child(2){
    animation: slotani 3s linear infinite;
    position: absolute;
    top: -70px;
    left: 200px;
    width: 60px;
    animation-delay: 1.5s;
}
.symbol img:nth-child(3){
    animation: slotani 5.2s linear infinite;
    position: absolute;
    top: -70px;
    left: 350px;
    width: 60px;
    animation-delay: .2s;
}
.symbol img:nth-child(4){
    animation: slotani 5.4s linear infinite;
    position: absolute;
    top: -70px;
    left: 500px;
    width: 60px;
    animation-delay: 1s;
}
.symbol img:nth-child(5){
    animation: slotani 5s linear infinite;
    position: absolute;
    top: -70px;
    left: 650px;
    width: 60px;
    animation-delay: 4s;
}
.symbol img:nth-child(6){
    animation: slotani 5.9s linear infinite;
    position: absolute;
    top:-70px;
    left: 800px;
    width: 60px;
    animation-delay: 1.1s;
}
.symbol img:nth-child(7){
    animation: slotani 4.7s linear infinite;
    position: absolute;
    top: -70px;
    left: 950px;
    width: 60px;
    animation-delay: 1.2s;
}
.symbol img:nth-child(8){
    animation: slotani 5s linear infinite;
    position: absolute;
    top: -70px;
    left: 1100px;
    width: 60px;
    animation-delay: 2s;
}
.symbol img:nth-child(9){
    animation: slotani 5s linear infinite;
    position: absolute;
    top: -70px;
    left: 1250px;
    width: 60px;
    animation-delay: 1.3s;
}
.symbol img:nth-child(10){
    animation: slotani 3.7s linear infinite;
    position: absolute;
    top: -70px;
    left: 1400px;
    width: 60px;
    animation-delay: 0.8s;
}
.symbol img:nth-child(11){
    animation: slotani 5.2s linear infinite;
    position: absolute;
    top: -70px;
    left: 1550px;
    width: 60px;
    animation-delay: 1.3s;
}
@keyframes slotani {
    from{
        transform: translateY(0px);

    }
    to{
        transform: translateY(105vh);
    }
}
.wallet{
    position: sticky;
    display: flex;
    top: 91vh;
    left: 0;
    height: 30px;
    z-index: 5;
    width: 100%;
    justify-content: center;
    align-items: center;
    
}
.wallet .clipboard {
    padding: 7px;
    background-color: white;
    border: solid 5px;
    width: 525px;
    display: flex;
    
}
.clipboard input{
    text-decoration: none;
    border: none;
    font-size: 15px;
    margin-right: 5px;
    width: 600px;
}
.clipboard button{
    border: solid 3px;
    font-size: 15px;
    padding: 7px;
    background-color: white;
    cursor: pointer;
    font-family: poet;
}
